@using TicTacToe.Client.Services

<div class="main-menu">

    @if (User == null)
    {
        <p>Loading games...</p>
    }
    else if (CurrentTab == GameTab.CreateGame)
    {
        <CreateGameComponent OnGameReady="ShowGameHandler" />
    }
    else if (CurrentTab == GameTab.MyGames)
    {
        <MyGamesComponent OnGameReady="ShowGameHandler" UserId="@User.Id" />
    }
    else if (CurrentTab == GameTab.JoinGame)
    {
        <JoinGameComponent OnGameReady="ShowGameHandler"/>
    }
    else if (CurrentTab == GameTab.EditProfile)
    {
        <EditProfileComponent UserId="@User.Id" />
    }
    else if (CurrentTab == GameTab.Leaderboard)
    {
        <LeaderboardComponent />
    }
    else if (CurrentTab == GameTab.Game)
    {
        <GameComponent 
            Session="@session"
            UserId="@User.Id"
            OnBackClick="BackHandler" />
    }
</div>

@code {
    [Parameter] public GameTab CurrentTab { get; set; }
    [Parameter] public UserResponse? User { get; set; }
    [Parameter] public EventCallback<GameTab> OnTabChange { get; set; }

    private SessionResponse? session;
    private GameTab prevTab;

    private async void ShowGameHandler(SessionResponse response)
    {
        if (response is null)
        {
            return;
        }

        session = response;
        prevTab = CurrentTab;
        CurrentTab = GameTab.Game;

        await OnTabChange.InvokeAsync(CurrentTab);

    }

    private void BackHandler()
    {
        OnTabChange.InvokeAsync(prevTab);
        session = null;
    }
}