@using TicTacToe.Client.Handlers

@inject HttpClient Http

<div class="profile-card">
    <div class="profile-avatar">
        <img src="@avatarUrl" alt="Аватар" class="avatar-img" />
    </div>

    <div class="profile-info">
        <h3>@(User?.Login ?? "Player")</h3>

        <button class="main-btn edit-btn"
        @onclick="() => OnTabButtonClick.InvokeAsync(GameTab.EditProfile)">
        Edit profile
    </button>
    </div>

    <ErrorMessageComponent @bind-ErrorMessage="@errorMessage" />
    
    <div class="gradient-divider"></div>

    <div class="action-buttons">
        <button class="main-btn action-btn" 
            @onclick="() => OnTabButtonClick.InvokeAsync(GameTab.CreateGame)">
            Create game
        </button>

        <button class="main-btn action-btn" 
            @onclick="() => OnTabButtonClick.InvokeAsync(GameTab.JoinGame)">
            Join game
        </button>

        <button class="main-btn action-btn"
            @onclick="() => OnTabButtonClick.InvokeAsync(GameTab.MyGames)">
            My games
        </button>

        <button class="main-btn action-btn"
                @onclick="() => OnTabButtonClick.InvokeAsync(GameTab.Leaderboard)">
            Leaderboard
        </button>
    </div>
</div>


@code {
    [Parameter] public EventCallback<GameTab> OnTabButtonClick { get; set; }
    [Parameter] public UserResponse? User { get; set; }
    private string avatarUrl = "noavatar.png";
    private string? errorMessage;     
}