@page "/signup"

<PageTitle>Sign Up</PageTitle>

<div class="content-wrapper">
    <picture>
        <source srcset="new-player.jpg" type="image/webp">
        <img src="new-player.jpg"
        alt="New player"
        class="header-image"
        width="300"
        height="300">
    </picture>

    <AuthInputComponent IsSignIn="@false"></AuthInputComponent>

    <div style="margin-top: 10px;">
        <a href="/" class="nav-btn">Back</a>
    </div>
</div>