@page "/user"

@using TicTacToe.Client.Handlers

@inject ILocalStorageService LocalStorage
@inject NavigationManager Navigation
@inject RefreshDataService RefreshData
@inject HttpClient Http
@inject UserDataUpdateService UserUpdate

@implements IDisposable


<div class="top-bar">    
    <a class="nav-btn" @onclick="LogOutHandler">Log out</a>
</div>

<div class="user-page-container">

    <div class="profile-sidebar">
        <UserProfileComponent 
            User="@user"
            OnTabButtonClick="SwitchTabHandler" />
    </div>
    
    <div class="main-content">        
        <div class="game-content">
            <MainContentComponent
                UserId="@user.Id"
                CurrentTab="@currentTab"
                OnTabChange="SwitchTabHandler"/>
        </div>
    </div>
</div>



@code {
    private GameTab currentTab = GameTab.CreateGame;
    private UserResponse user = null!;

    protected override async Task OnInitializedAsync()
    {
        UserUpdate.OnUserUpdate += UpdateData;
        try
        {
            var isAccessTokenExist = await LocalStorage.ContainKeyAsync("accessToken");
            var isRefreshTokenExist = await LocalStorage.ContainKeyAsync("refreshToken");

            if (!isAccessTokenExist && !isRefreshTokenExist)
            {
                await LogOutHandler();
                return;
            }

            if (!isAccessTokenExist && isRefreshTokenExist)
            {
                var refreshToken = await LocalStorage.GetItemAsync<string>("refreshToken");
                if (string.IsNullOrEmpty(refreshToken))
                {
                    throw new ArgumentNullException(nameof(refreshToken));
                }

                var response = await Http.PostAsJsonAsync("/auth/refresh-access", new RefreshJwtRequest { RefreshToken = refreshToken });
                if (response is null || !response.IsSuccessStatusCode)
                {
                    await LogOutHandler();
                    return;
                }

                var jwtResponse = await response.Content.ReadFromJsonAsync<JwtResponse>();
                if (jwtResponse is null)
                {
                    await LogOutHandler();
                    return;
                }

                await LocalStorage.SetItemAsync("accessToken", jwtResponse.AccessToken);
                await LocalStorage.SetItemAsync("refreshToken", jwtResponse.RefreshToken);
                await GetCurrentUser();
                return;
            }

            await GetCurrentUser();
        }
        catch (Exception)
        {
            await LogOutHandler();
        }
    }


    private async Task GetCurrentUser()
    {
        user = await Http.GetFromJsonAsync<UserResponse>($"/user/current")
                ?? throw new ArgumentNullException();
    }


    private async Task LogOutHandler()
    {
        await LocalStorage.RemoveItemAsync("accessToken");
        await LocalStorage.RemoveItemAsync("refreshToken");
        Navigation.NavigateTo("/", forceLoad: true);
    }


    private async Task SwitchTabHandler(GameTab tab)
    {
        if (currentTab == tab && 
                (currentTab == GameTab.JoinGame ||
                currentTab == GameTab.MyGames ||
                currentTab ==GameTab.Leaderboard))
            {
                await RefreshData.RefreshDataAsync();
            }
        

        currentTab = tab;
        StateHasChanged();
    }

    private void UpdateData(UserResponse user)
    {
        this.user = user;
        StateHasChanged();
    }

    public void Dispose()
    {
        UserUpdate.OnUserUpdate -= UpdateData;
    }
}
